/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root .theme_dark {
  /* colors */
  --accent-color: #ff0070;
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --list-color: #000028;
  --shadow-color: #ff0070;
  --shadow-color-big-size: #FF0070;
  --section-title-color: #ff0070;
  --focus-color: #ff0070;
  --outline-shadow-color: rgba(255, 0, 112, 0.4);
  --element-decor-color: #ff0070;
  --text-button-color: #ff0070;
  /* page-background */
  --page-background-image: url(../images/cover-image-dark.png);
  --page-background-color: #000028;
}
