/*
  Специально для тёмной темы при наличии класса,
  здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root .theme_dark {
  --accent-color: #ff0070;
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --list-color: #000028;
}

.page.theme_dark {
  background-image: url(../images/cover-image-dark.png);
  background-color: var(--list-color);
}

.page.theme_dark .header__decor-wrapper::after {
  display: block;
}

.page.theme_dark .header__decor-paragraph {
  display: block;
}

.page.theme_dark .header__theme-menu-button {
  color: var(--accent-color);
}

.page.theme_dark .header__theme-menu-button:hover {
  outline: 1px solid #FF0070;
}

.page.theme_dark .header__theme-menu-button:focus-visible {
  outline: none;
  padding-block-end: 3px;
  border-block-end: 1px solid var(--accent-color);
}

.page.theme_dark .header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
  pointer-events: none;
}

.page.theme_dark .header__title {
  color: var(--title-color);
}

.page.theme_dark .section__heading {
  color: var(--accent-color);
}

.page.theme_dark .title-decor {
  background-color: var(--accent-color);
  color: var(--list-color);
}

.page.theme_dark .element-decor {
  border-block-start: solid 1px var(--accent-color);
  border-inline-end: solid 1px var(--accent-color);
}

.page.theme_dark .footer__title {
  color: var(--title-color);
  text-shadow: 2px 2px 0px var(--shadow-color);
}
