/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/
:root .theme_light {
  --accent-color: #FF8DCB;
  --title-color: #FFC2E6;
  --text-color: #353430;
  --shadow-color: #FFF1F7;
  --outline-shadow-color: rgba(50, 49, 45, 0.4);
  --shadow-color-big-size: #FF0070;
  --element-decor-color: #353430;
  --text-button-color: #353430;
  --focus-color: #353430;
  --list-color: #353430;
  --section-title-color: #353430;
  /* page-background */
  --page-background-image: url(../images/cover-image-light.png);
  --page-background-color: #FFF1F7;
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --title-color: #FFC2E6;
    --text-color: #353430;
    --shadow-color: #FFF1F7;
    --outline-shadow-color: rgba(50, 49, 45, 0.4);
    --shadow-color-big-size: #FF0070;
    --element-decor-color: #353430;
    --text-button-color: #353430;
    --focus-color: #353430;
    --list-color: #353430;
    --section-title-color: #353430;
    /* page-background */
    --page-background-image: url(../images/cover-image-light.png);
    --page-background-color: #FFF1F7;
  }
}