/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  /* colors */
  --accent-color: #ff0070;
  --text-color: #F1B2CE;
  --title-color: #DB00FF;
  --list-color: #000028;
  --shadow-color: #ff0070;
  --shadow-color-big-size: #FF0070;
  --section-title-color: #ff0070;
  --focus-color: #ff0070;
  --outline-shadow-color: rgba(255, 0, 112, 0.4);
  --element-decor-color: #ff0070;
  --text-button-color: #ff0070;
  /* page-background */
  --page-background-image: url(../images/cover-image-dark.png);
  --page-background-color: #000028;
  /* font-styles */
  --main-font: inherit;
  --main-style-font: inherit;
  --text-wight-regular: 400;
  --text-wight-bold: 700;
  --title-size-small: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  --title-size-big: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem);
}